<!-- Footer unico-->

    <div class="redes-sociales">
        <a href="https://www.facebook.com/?locale=es_LA" rel="">
            <img src="img/logoFacebook.png" alt="Logo Facebook" class="facebook">
        </a>
        <a href="https://www.instagram.com/" rel="">
            <img src="img/logoInstagram.png" alt="Logo Instagram" class="instagram">
        </a>
        <a href="https://twitter.com/home?lang=es" rel="">
            <img src="img/logoTwitter.png" alt="Logo Twitter" class="twitter">
        </a>
    </div>
    <img src="img/logoKappaCode.png" alt="Logo de Tienda KappaCode" class="logo-footer">
    <p class="copyright">&copy Copyright Tienda KappaCode - 2024</p>
