<div class="caja row">

    <div class="encabezado">
        <div class="consulta izquierda col-">
            <a href="./contacto.html">consultas@KappaCode.com</a>
        </div>
        <div class="sesion derecha col-9 ">
            <a class="carrito" href="./shop.html">
                <img src="./img/carrito-de-compras.png" alt="logo carrito">
                <span id="cantidad-productos-carrito" class="cantidad-productos">0</span>
            </a>
            <a href="./registro.html">Crear cuenta | </a>
            <a href="./login.html"> Login</a>
        </div>
    </div>

    <nav>
        <div class="navegador">
            <div class="logo col-4 col-s-12">
                <a href="./index.html"><img src="./img/logoKappaCode.png" alt="logo kappa"></a>
            </div>
            <div class="menu derecha col-8 col-s-12">
                <ul class="nav">
                    <li><a href="./index.html">Inicio</a></li>
                    <li><a class="store" href="productos.html" data-genero="all" data-categoria="all">Productos</a>
                        <ul>
                            <li><a class="store" href="productos.html" data-genero="hombre"
                                    data-categoria="all">Hombre</a>
                                <ul>
                                    <li><a class="store" href="productos.html" data-genero="hombre"
                                            data-categoria="remera">Remeras</a></li>
                                    <li><a class="store" href="productos.html" data-genero="hombre"
                                            data-categoria="pantalon">Pantalones</a></li>

                                </ul>
                            </li>
                            <li><a class="store" href="productos.html" data-genero="mujer"
                                    data-categoria="all">Mujer</a>
                                <ul>
                                    <li><a class="store" href="productos.html" data-genero="mujer"
                                            data-categoria="remera">Remeras</a></li>
                                    <li><a class="store" href="productos.html" data-genero="mujer"
                                            data-categoria="pantalon">Pantalones</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li class="buscador-container">
                        <div class="search">
                            <div class="search-content">
                                <button class="search-button">
                                    <i class="fa fa-search show_search no_link"></i>
                                </button>
                                <input type="text" class="search-input" placeholder="Buscar aquí...">
                            </div>
                        </div>
                    </li>
                </ul>
                
            </div>
            </div>
        </div>
    </nav>

</div>
<script src="./js/script.js"></script>
<script src="./js/productos.js"></script>

<script>clickearFiltro()</script>

<script>actualizarCantidadProductos()</script>



