<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos - Tienda KappaCode</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/estilo.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./js/productos.js"></script>
</head>

<body>
    <header><!-- llamo al header -->
        <script>
            $(function () {
                $("#header").load("header.html");
            });
        </script>
        <!-- sin este div por alguna razon no se visualiza, supongo que hace que se muestre y por eso el #header de la funsion anterior -->
        <div id="header"></div>
        <!-- Claro, desglosemos paso a paso lo que hace ese código:
 
 1- <script>: Esta etiqueta HTML se utiliza para incluir código JavaScript en la página.
 2- $(function(){ ... }): Esto es una abreviatura de $(document).ready(function(){ ... }). Es una función de jQuery que se ejecuta cuando el documento HTML está completamente cargado y listo para manipularse.
 3- $("#header").load("header.html");:
    · $("#header"): Esto selecciona el elemento con el id "header". Es decir, busca un elemento en el HTML con el atributo id igual a "header".
    · .load("header.html"): Este método de jQuery carga el contenido de un archivo HTML (en este caso, "header.html") y lo inserta dentro del elemento seleccionado. En este caso, insertará el contenido de "header.html" dentro del elemento con el id "header".
 4- <div id="header"></div>: Este es el contenedor en el HTML donde se cargará el contenido del encabezado. Es un div con el id "header". -->
        <!-- main mostramos tarjetas de productos -->
    </header>
    <main>
        <button class="hamburger" onclick="toggleMenu()">☰ Filtro</button>
        <div id="filtro" class="filtro">
            <label for="precio">Precio: </label>
            <input type="number" onchange="guardarPrecio(this.value)" placeholder="0">
            <div>
            <p class="centrado">Tipo prenda</p>
            <select id="tipoPrenda" onchange="guardarCategoria(this.value)">
                <option value="all">Todo</option>
                <option value="remera">Remera</option>
                <option value="pantalon">Pantalon</option>
            </select>
            </div>
            <div>
            <p class="centrado">genero</p>
            <select id="genero" onchange="guardarGenero(this.value)">
                <option value="all">Todo</option>
                <option value="mujer">Mujer</option>
                <option value="hombre">Hombre</option>
            </select>
            </div>
            <div>
                <p class="centrado">orden</p>
            <select id="orden" onchange="guardarOrden(this.value)">
                <option value="Ascendente">Ascendente</option>
                <option value="Descendente">Descendente</option>
            </select>
            </div>
            <button class="filtrar" onclick="mostrar()">Aplicar filtro</button>
        </div>

        <!-- aca va la lista de productos-->
        <div>
            <ul id="productos" class="productos">
            </ul>

        </div>

        <div class="slider-productos">
            <div class="slide-track">
                <div class="slide">
                    <img src="img/pantalon hombre/pantalon1.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon hombre/pantalon2.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras hombre/remera9.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras hombre/remera14.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras hombre/remera3.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras mujer/remera3.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras mujer/remera14.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon mujer/pantalon4.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon mujer/pantalon11.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon mujer/pantalon14.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras mujer/remera12.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon hombre/pantalon13.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/pantalon hombre/pantalon10.webp" height="100" width="250" alt="">
                </div>
                <div class="slide">
                    <img src="img/remeras hombre/remera4.webp" height="100" width="250" alt="">
                </div>
            </div>
        </div>

    </main>
    <footer> <!-- llamo al footer -->
        <script>
            $(function () {
                $("#footer").load("footer.html");
            });
        </script>
        <!-- sin este div por alguna razon no se visualiza, supongo que hace que se muestre y por eso el #header de la funsion anterior -->
        <div id="footer"></div>
    </footer>
    <script> document.addEventListener('DOMContentLoaded', mostrar(sessionStorage.genero, sessionStorage.categoria, sessionStorage.Precio))</script>

</body>

</html>